@use 'variables' as vars;
@use 'functions' as func;
@use 'mixins' as mix;
@use '../module/common';

html {
  font-size: func.get-font-size();
}

body {
  font-family: vars.$font-family;
  font-weight: vars.$font-weight-normal;
  margin: 0;
  padding: 0;

}

h1 {
  @include mix.header(4);
  @include mix.thick-line;
}

h2 {
  @include mix.header(2);
}

h3 {
  @include mix.header(1);
}

h5 {
  @include mix.header(-2);
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: vars.$black;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-weight: vars.$font-weight-link;
}

p {
  margin:0;
}

main {
  @include mix.has-part-margin-after;

  @include mix.handheld-only {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @include mix.media('margin-top', func.get-relative-rem(70, vars.$mobile-screen-width) vars.$section-margin-tablet 0);
  @include mix.media('padding-top', vars.$l-gap-mobile vars.$section-margin-tablet 0);
}

section {
  @include mix.has-section-margin-after;

  &:last-child {
    @extend .margin-clear
  }
}

article {
  @include mix.has-article-margin-after;

  &:last-child {
    @extend .margin-clear
  }
}

