@import 'font';
@import 'hardcoded-variables', 'functions', 'computed-variables','mixins';


//----------------------------------Move to modules after @use is supported
.margin-clear {
  margin-bottom: 0;
}
//----------------------------------

html {
  font-size: get-font-size();
}

body {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  margin: 0;
  padding: 0;

}

h1 {
  @include header(4);
  @include thick-line;
}

h2 {
  @include header(2);
}

h3 {
  @include header(1);
}

h5 {
  @include header(-2);
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-weight: $font-weight-link;
}

p {
  margin:0;
}

main {
  @include has-part-margin-after;

  @include handheld-only {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @include media('margin-top', get-relative-rem(70, $mobile-screen-width) $section-margin-tablet 0);
  @include media('padding-top', $l-gap-mobile $section-margin-tablet 0);
}

section {
  @include has-section-margin-after;

  &:last-child {
    @extend .margin-clear
  }
}

article {
  @include has-article-margin-after;

  &:last-child {
    @extend .margin-clear
  }
}

