/*Media queries*/

@mixin handheld-only {
  @media screen and (max-width: $desktop-min-screen-width - 1) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $tablet-min-screen-width) and (max-width: $desktop-min-screen-width - 1) {
    @content;
  }
}

@mixin tablet-up {
  @media screen and (min-width: $tablet-min-screen-width) {
    @content;
  }
}

@mixin desktop-up {
  @media screen and (min-width: $desktop-min-screen-width) {
    @content;
  }
}

/*----------------------------*/

@mixin has-part-margin-after {
  margin-bottom: $part-margin-mobile;

  @include tablet-up {
    margin-bottom: $part-margin-tablet;
  }

  @include desktop-up {
    margin-bottom: $part-margin-desktop;
  }
}

@mixin has-section-margin-after {
  margin-bottom: $section-margin-mobile;

  @include tablet-up {
    margin-bottom: $section-margin-tablet;
  }

  @include desktop-up {
    margin-bottom: $section-margin-desktop;
  }
}

@mixin has-article-margin-after {
  margin-bottom: $article-margin-mobile;

  @include tablet-up {
    margin-bottom: $article-margin-tablet;
  }

  @include desktop-up {
    margin-bottom: $article-margin-desktop;
  }
}

@mixin header($level) {
  font-weight: inherit;
  margin: 0;
  text-transform: uppercase;
  font-size: pow(1.0835, $level) * 1rem;
}

@mixin media($prop, $values) {
  #{$prop}: nth($values, 1);

  @include tablet-up {
    #{$prop}: nth($values, 2);
  }

  @include desktop-up {
    #{$prop}: nth($values, 3);
  }
}

// @extend in media queries
@mixin thick-line {
  line-height: 3rem;
}


