<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FACT</title>
    <link rel="stylesheet" type="text/css" href="css/contacts.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="js/contact_form.js"></script>
    <script type="text/javascript" src="js/contacts.js"></script>
    <script src="js/navigation.js"></script>
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div id="wrapper">


    <nav id="nav">
        <div id="nav-active-page">
            <svg id="menu-icon" class="nav-icon" viewBox="0 0 32 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.84375 4.0625C0.760417 3.97917 0.6875 3.88542 0.625 3.78125C0.5625 3.67708 0.520833 3.56771 0.5 3.45312C0.479167 3.33854 0.46875 3.20833 0.46875 3.0625C0.46875 2.66667 0.59375 2.34375 0.84375 2.09375C1.09375 1.84375 1.41667 1.71875 1.8125 1.71875H30.3438C30.7396 1.71875 31.0625 1.84375 31.3125 2.09375C31.5625 2.34375 31.6875 2.66667 31.6875 3.0625C31.6875 3.45833 31.5625 3.78646 31.3125 4.04688C31.0625 4.30729 30.7396 4.4375 30.3438 4.4375H1.8125C1.41667 4.4375 1.09375 4.3125 0.84375 4.0625ZM31.3125 12.9688C31.5625 13.2188 31.6875 13.5417 31.6875 13.9375C31.6875 14.3333 31.5625 14.6562 31.3125 14.9062C31.0625 15.1562 30.7396 15.2812 30.3438 15.2812H1.8125C1.41667 15.2812 1.09375 15.1562 0.84375 14.9062C0.802083 14.8646 0.760417 14.8125 0.71875 14.75C0.677083 14.6875 0.640625 14.625 0.609375 14.5625C0.578125 14.5 0.552083 14.4375 0.53125 14.375C0.510417 14.3125 0.494792 14.2448 0.484375 14.1719C0.473958 14.099 0.46875 14.0208 0.46875 13.9375C0.46875 13.5417 0.59375 13.2188 0.84375 12.9688C1.09375 12.7188 1.41667 12.5938 1.8125 12.5938H30.3438C30.7396 12.5938 31.0625 12.7188 31.3125 12.9688ZM31.3125 23.8125C31.5625 24.0625 31.6875 24.3854 31.6875 24.7812C31.6875 25.1771 31.5625 25.5052 31.3125 25.7656C31.0625 26.026 30.7396 26.1562 30.3438 26.1562H1.8125C1.41667 26.1562 1.09375 26.0312 0.84375 25.7812C0.802083 25.7396 0.765625 25.6927 0.734375 25.6406L0.640625 25.4844L0.5625 25.3281L0.5 25.1562L0.46875 24.9844V24.7812C0.46875 24.3854 0.59375 24.0625 0.84375 23.8125C1.09375 23.5625 1.41667 23.4375 1.8125 23.4375H30.3438C30.7188 23.4375 31.0417 23.5625 31.3125 23.8125Z"
                      fill="white"/>
            </svg>
            <ul id="nav-active-page-list">
                <li class="nav-page-item">
                    <h1>Fact</h1>
                </li>
                <li class="nav-page-item">
                    <h1>Projects</h1>
                </li>
                <li class="nav-page-item">
                    <h1>About us</h1>
                </li>
                <li class="nav-page-item is-active-page-item">
                    <h1>Contacts</h1>
                </li>
            </ul>
        </div>


        <div id="nav-menu">
            <svg id="close-icon" class="nav-icon" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L24 24M2 24L24 2" stroke="white" stroke-width="3" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
            <ul id="nav-menu-list" class="l-navigation-grid-container">

                <li>
                    <a href="index.html"><h1 class="nav-menu-list-item">Fact</h1></a>
                </li>
                <li class="l-centered-flex-container">
                    <div id="nav-projects-container">
                        <a href="index.html"><h1 class="nav-menu-list-item">Projects</h1></a>
                        <ul id="nav-projects-dropdown">
                            <li>
                                <a href="ordered_projects.html"><h2 class="nav-dropdown-list-item">Year</h2></a>
                            </li>
                            <li>
                                <a href="ordered_projects.html"><h2 class="nav-dropdown-list-item">Function</h2></a>
                            </li>
                            <li>
                                <a href="ordered_projects.html"><h2 class="nav-dropdown-list-item">Status</h2></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="about_us.html"><h1 class="nav-menu-list-item">About Us</h1></a>
                </li>
                <li>
                    <a href="contacts.html"><h1 class="nav-menu-list-item is-active-menu-item">Contacts</h1></a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="l-contacts-grid-container">

        <div id="contact-branches">
            <h1 class="contacts-article-header">Branches</h1>
            <ol id="branches_list">
                <li class="contacts-article-list-item">
                    <h3 class="contacts-article-list-item-header">Prague</h3>
                    <p>Calle Bernardo de la Torre 19, 35007<br/>
                        Las Palmas de Gran Canaria,<br/>
                        Las Palmas, España
                    </p>
                </li>
                <li class="contacts-article-list-item">
                    <h3 class="contacts-article-list-item-header">Písek</h3>
                    <p>Calle Bernardo de la Torre 19, 35007<br/>
                        Las Palmas de Gran Canaria,<br/>
                        Las Palmas, España
                    </p>
                </li>
            </ol>
        </div>
        <div id="contact-reach-us">
            <h1 class="contacts-article-header">Reach Us</h1>

            <ol>
                <li class="contacts-article-list-item">
                    <p><a id="phone_label">+420 222 333 444 555</a></p>
                </li>
                <li class="contacts-article-list-item">
                    <p><a id="info_mail_label">info(at)fact.cz</a></p>
                    <p><a id="business_mail_label">business(at)fact.cz</a></p>
                </li>
                <li class="contacts-article-list-item">
                    <p id="insta_label>Instagram.com/Fact</p>
                </li>
            </ol>
        </div>
        <div id="contact-billing-info">
            <h1 class="contacts-article-header">Billing info</h1>

            <ol>
                <li class="contacts-article-list-item">
                    <!--TODO-->
                    <p>dič:&nbsp;123456789</p>
                    <p>ič:&nbsp;&nbsp;&nbsp;123456789</p>
                </li>
            </ol>
        </div>

        <iframe id="map" src="https://www.google.com/maps/d/embed?mid=1t9l0eKbjK-zqoXbCLD1VOYmHt682xpW0"></iframe>
    </main>

    <form id="contact-form">
        <table>
            <tr>
                <th colspan="3">
                    <h3>Contact form</h3>
                </th>
            </tr>
            <tr>
                <td><input id="form-first-name" type="text" placeholder="*First name"></td>
                <td><input id="form-last-name" type="text" placeholder="*Last name"></td>
                <td class="error-message" colspan="1"></td>
            </tr>
            <tr>
                <td colspan="2"><input id="form-email" type="text" placeholder="*Email"></td>
                <td class="error-message" colspan="1"></td>
            </tr>
            <tr>
                <td colspan="2"><input id="form-email-again" type="text" placeholder="*Repeat your email">
                </td>
                <td class="error-message" colspan="1"></td>
            </tr>
            <tr>
                <td colspan="2"><input id="form-phone" class="phone-input" type="tel" placeholder="Phone number">
                </td>
                <td class="error-message" colspan="1"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="text" placeholder="Subject" maxlength="60"></td>
            </tr>
            <tr>
                <td colspan="2"><textarea id="form-textarea" placeholder="Write a comment..."></textarea></td>
                <td class="error-message" colspan="1"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Send"></td>
            </tr>
        </table>
    </form>

    <footer id="footer">
        <div id="instagram">
            <a href="https://www.instagram.com"><h5>Instagram</h5></a>
        </div>
        <div id="copyright">
            <h5>© 2019 Fact s.r.o.</h5>
        </div>
        <span class="word-divider"></span>
    </footer>
</div>
</body>
</html>
