<% content_for :stylesheets do %>
    <%= stylesheet_pack_tag "index_stylesheets", media: "all" %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_pack_tag 'index' %>
<% end %>
<main>
    <ul id="project-list" class="l-unordered-grid-container">
    </ul>
</main>

<footer id="footer">
    <div id="instagram">
        <a href="https://www.instagram.com"><h5>Instagram</h5></a>
    </div>
    <div id="copyright">
        <h5>© 2019 Fact s.r.o.</h5>
    </div>
    <span class="word-divider"></span>
</footer>
