#map {
  display: none;

  @include tablet-up{
    display: block;
    border: none;
    filter: grayscale(100%);
    width:100%;
    height: 80vh;
    grid-area: map;
  }

  @include desktop-up {
    height: 100%;
  }
}

#contact-branches {
  grid-area: branches;
}

#contact-reach-us {
  grid-area: reach-us;
}

#contact-billing-info {
  grid-area: billing-info;

  @include tablet-only {
    text-align: center;
  }
}