.l-contacts-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $section-margin-mobile;
  grid-template-areas:
          "branches"
          "reach-us"
          "billing-info";

  @media screen and (min-width: $tablet-min-screen-width){
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $article-margin-tablet;
    grid-row-gap: $section-margin-tablet;
    grid-template-areas:
      "branches reach-us"
      "map map"
      "billing-info billing-info";
  }

  @media screen and (min-width: $desktop-min-screen-width) {
    grid-column-gap: $column-gutter;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: $article-margin-desktop;
    grid-template-areas:
            'branches branches branches branches map map map map map map map map map map map map'
            'reach-us reach-us reach-us reach-us map map map map map map map map map map map map'
            'billing-info billing-info billing-info billing-info map map map map map map map map map map map map';
  }


}