$main-wrapper-width: 100vw - 2*$main-wrapper-margin;

$column-gutter: 35/1440 * 100vw;
$column-width: ($main-wrapper-width - (3*$column-gutter))/4;

$row-gutter: 90/1440 * 100vw;
$row-unordered-height: 370/1440 * 100vw;

$row-ordered-height: $column-width*1.05;

.l-square-grid-sized {
  width: $column-width;
  height: $column-width;
}

.l-rect-grid-sized {
  width: $column-width;
  height: $row-ordered-height;
}

.l-4-col-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: $column-gutter;
}