$column-gutter: 35/1440 * 100vw;

.l-base-grid-container {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $tablet-min-screen-width){
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: $column-gutter;
  }

  @media screen and (min-width: $desktop-min-screen-width) {

  }

}