@use '../base/mixins' as mix;
@use 'grid-variables' as g-vars;

.l-leader-arch-grid-container {

  @include mix.tablet-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: g-vars.$column-gutter;
  }
  @include mix.desktop-up {

  }
}