#nav {
  @include handheld-only {
    background: $s-black;
    color: $s-light-grey;

    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;

    #nav-active-page {
      display: block;
      height: get-relative-rem(70, $mobile-screen-width);


      #nav-active-page-list {
        float: left;
        display: inline-block;
        padding-top: get-relative-rem(20, $mobile-screen-width);
        margin-left: get-relative-rem(35, $mobile-screen-width);
      }
    }

    #nav-menu {
      display: none;
      height: 100vh;
    }
  }

  @include tablet-only {
    #nav-active-page {
      height: $section-margin-tablet;

      #nav-active-page-list {
        padding-top: get-relative-rem(15, $tablet-screen-width);
        margin-left: get-relative-rem(60, $tablet-screen-width);
      }
    }

  }


  @include desktop-up {
    text-align: center;
    padding-bottom: $part-margin-desktop;
    margin-bottom: $part-margin-desktop;
    padding-top: $section-margin-desktop;

    #nav-active-page {
      display: none;
    }

    #nav-menu {
      display: block;
      #close-icon {
        display: none;
      }
    }

    #nav-projects-container {
      #nav-projects-dropdown {
        display: none;
        text-align: left;
        position: absolute;
        padding-left: 0.3rem
      }

      &:hover #nav-projects-dropdown {
        display: block;
      }
    }
  }
}
