@use "grid-mixins" as grid-mix;
@use '../base/mixins' as mix;

.l-navigation-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 15vh;
  grid-row-gap: 5vh;

  @include mix.desktop-up {
    @include grid-mix.base-grid;
  }
}