.l-project-detail-grid {
  @include tablet-up {

  }

  @include desktop-up {
    display: grid;
    grid-column-gap: $column-gutter;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
            "gallery gallery gallery gallery gallery gallery gallery gallery text text text text";
  }
}