$column-gutter: 35/1440 * 100%;
$column-width: (100% - 3*$column-gutter) / 4;

$row-gutter: 90/1440 * 100vw;
$row-width: 370/1440 * 100vw;

.l-unordered-grid-container {
  display: grid;
  grid-template-columns: repeat(4, $column-width);
  grid-auto-rows: $row-width;
  grid-column-gap: $column-gutter;
  grid-row-gap: $row-gutter;
}