.word-divider {
  width: 1px;
  line-height: 1em;
  margin: 0.1em 1em 0.1em 1em;
  background: $grey;
}

.grey-on-hover:hover {
  filter: grayscale(100%);
}

.article-heading {
  @extend %has-medium-gap-after;
  height: 50/1440 * 100vw;
}

.centered {
  text-align: center;
}

.extra-info {
  color: $grey;
}