.word-divider {
  width: 1px;
  line-height: 1em;
  margin: 0.1em 1em 0.1em 1em;
  background: $dark-grey;
}

.bw-on-hover:hover {
  filter: grayscale(100%);
}

.section-header {
  @include has-article-margin-after;
}

.centered {
  text-align: center;
}