@use '../base/variables' as *;
@use '../base/mixins' as mix;
@use '../base/functions' as func;

.nav-menu-list-item {
  color: $s-light-grey;

  &:hover {
    color: $white;
  }

  @include mix.desktop-up {
    color: $dark-grey;

    &:hover {
      color: $black;
    }
  }
}

.nav-dropdown-list-item {
  @extend .nav-menu-list-item;

  line-height: 1.5em;
}

.nav-page-item {
  display: none;
}

.nav-icon {
  @include mix.handheld-only {
    float: right;
    height: func.get-relative-rem(30, $mobile-screen-width);
    margin-right: func.get-relative-rem(25, $mobile-screen-width);
    margin-top: func.get-relative-rem(20, $mobile-screen-width);
  }

  @include mix.tablet-only {
    height: func.get-relative-rem(35, $tablet-screen-width);
    margin-right: $section-margin-tablet;
    margin-top: func.get-relative-rem(23, $tablet-screen-width);
  }
}