@use '../base/mixins' as mix;
@use 'grid-variables' as *;

.l-about-grid-container {

  @include mix.desktop-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $column-gutter;
  }
}