@use '../base/variables' as *;
@use '../base/mixins' as mix;
@use 'grid-variables' as g-vars;

.l-contacts-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $section-margin-mobile;
  grid-template-areas:
          "branches"
          "reach-us"
          "billing-info";

  @include mix.tablet-up{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $article-margin-tablet;
    grid-row-gap: $section-margin-tablet;
    grid-template-areas:
      "branches reach-us"
      "map map"
      "billing-info billing-info";
  }

  @include mix.desktop-up {
    grid-column-gap: g-vars.$column-gutter;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: $article-margin-desktop;
    grid-template-areas:
            'branches branches branches branches map map map map map map map map'
            'reach-us reach-us reach-us reach-us map map map map map map map map'
            'billing-info billing-info billing-info billing-info map map map map map map map map';
  }


}