@use '../base/variables' as vars;
@use '../base/mixins' as mix;

.word-divider {
  width: 1px;
  margin: 0.8em;
  background: vars.$dark-grey;
}

.bw-on-hover:hover {
  filter: grayscale(100%);
}

.section-header {
  @include mix.has-article-margin-after;
}

.centered {
  text-align: center;
}

.margin-clear {
  margin-bottom: 0;
}