
body {
    font-family: "Roboto", Roboto, sans-serif;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 1300px;
    display: inline-block;
}

a {
    text-decoration: none;
}

ul.navigation_grid_container{
    padding-left: 12.5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
}

.dropdown {
    position: absolute;
    display: none;
    text-align: left;
}

.dropdown li {
    /*text-align: left;*/
}

.navigation a {
    color: darkgray;
}

.navigation li:hover > a {
    color: black;
}

.navigation li:hover .dropdown {
    display: block;
}
