
body {
    font-family: "Roboto", Roboto, sans-serif;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 1300px;
    display: inline-block;
}

#menu-home {
    color: black;
}

a {
    text-decoration: none;
}

ul.navigation-grid-container {
    padding-left: 12.5%;
    padding-top: 42px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
}

.navigation a {
    font-size: 1.75em;
    color: #606060;
}

.navigation li:hover > a {
    color: black;
}

.navigation li:hover .dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    display: none;
    text-align: left;
    padding-left: 4px;
}

.dropdown a {
    font-size: 1.375em;
}

.dropdown li {
    /*text-align: left;*/
}
