@font-face {
  font-family: "DINPro Medium";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Medium"), url("/font/DINPro-Medium tr.woff") format("woff");
}
@font-face {
  font-family: "DINPro";
  font-style: normal;
  font-weight: bold;
  src: local("DINPro Bold"), url("/font/DINPro-Bold.woff") format("woff");
}
.section-header, .article-header, section {
  margin-bottom: 2.4305555556vw;
}

article {
  margin-bottom: 6.9444444444vw;
}

html {
  font-size: calc((0.2rem + 2.3vw) * 0.7);
}

body {
  font-family: "DINPro", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.3rem;
  font-weight: inherit;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 1.1rem;
  font-weight: inherit;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 1rem;
  font-weight: inherit;
  margin: 0;
  text-transform: uppercase;
}

h5 {
  margin: 0;
  font-weight: inherit;
  text-transform: uppercase;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #606060;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-weight: normal;
  /*animation-name: link-hover-reversed;
  animation-duration: 500ms;*/
}

/*@keyframes link-hover-reversed {
  from {letter-spacing: 0.15em;}
  to {letter-spacing: 0;}
}*/
a:hover {
  color: #000000;
  /*animation-name: link-hover;
  animation-duration: 500ms;
  letter-spacing: 0.15em;*/
}

/*@keyframes link-hover {
  from {letter-spacing: 0;}
  to {letter-spacing: 0.15em;}
}*/
p {
  margin: 0;
}

.l-4-col-grid-container, .l-unordered-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2.4305555556vw;
}

.l-centered-flex-container, #footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#margin-wrapper {
  margin: 0 4.4444444444vw 0 4.4444444444vw;
}

#max-width-wrapper {
  width: 100%;
  display: inline-block;
}

#nav {
  text-align: center;
  min-height: 17.3611111111vw;
  padding-top: 5.5555555556vw;
}

#nav-home {
  color: #000000;
}

#nav-projects-dropdown {
  display: none;
  text-align: left;
  position: relative;
  top: -0.3em;
  left: 0.3em;
}

#nav-projects-container:hover #nav-projects-dropdown {
  display: block;
}

#footer {
  width: 100%;
  padding: 1em 0 1em 0;
  color: #606060;
  margin-top: 6.9444444444vw;
}

.word-divider {
  width: 1px;
  line-height: 1em;
  margin: 0.1em 1em 0.1em 1em;
  background: #606060;
}

.bw-on-hover:hover {
  filter: grayscale(100%);
}

.article-header {
  height: 3.4722222222vw;
}

.section-header {
  height: 2.0833333333vw;
}

.vertical-divider {
  height: 0.6944444444vw;
  display: block;
}

.centered {
  text-align: center;
}

.extra-info {
  color: #606060;
}

.l-unordered-grid-container {
  grid-auto-rows: auto;
  grid-row-gap: 6.25vw;
}

.l-project-detail-grid {
  display: grid;
  grid-column-gap: 2.4305555556vw;
  grid-template-rows: auto;
  grid-template-areas: "gallery gallery gallery gallery gallery gallery gallery text text text text text";
}

#gallery {
  grid-area: gallery;
}

#main-gallery-image {
  width: 100%;
}

#gallery-images-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#project-text {
  grid-area: text;
}

.nav-list-item {
  line-height: 2em;
}

.nav-dropdown-list-item {
  line-height: 1.5em;
}

.gallery-image-thumb {
  width: 5.2083333333vw;
  margin: 0.3472222222vw 0.1736111111vw 0.3472222222vw 0.1736111111vw;
}

/*# sourceMappingURL=project_detail.css.map */
